<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <br><br><br><br>
<div class="container " >
    <div class="row">
<div class="col-md-12" >
    <font face="" size="80px" color="">สินค้าทั้งหมด</font><br>
<br>

                <div class="col-md-3 column productbox"  >
                    <img src="/assets/images/11.jpg" class="img-responsive">
                    <div class="producttitle"><B>ปูสด ใหม่</B>&nbsp;&nbsp;</div>
                    <div class="productprice">

                        <div class="pull-right">
                            <font face="" size="" color="#32cd32"> 300฿</font>
                            <div class="btn btn-danger btn-sm" role="button">บาท</div>
                        </div>
                    </div>

                </div>

    <div class="col-md-3 column productbox" >
        <img src="/assets/images/22.jpg" class="img-responsive">

        <div class="producttitle"><B>หอยนางรม</B>&nbsp;&nbsp;</div>
        <div class="productprice">
            <div class="pull-right">
                <font face="" size="" color="#32cd32"> 170฿</font>
                <div class="btn btn-danger btn-sm" role="button">บาท</div>
            </div>
        </div>
    </div>


    <div class="col-md-3 column productbox"   >
        <img src="/assets/images/33.jpg" class="img-responsive">

        <div class="producttitle"><B>ชุรวม(เล็ก)</B>&nbsp;&nbsp;</div>
        <div class="productprice" >

            <div class="pull-right">
                <font face="" size="" color="#32cd32"> 450฿</font>
                <div class="btn btn-danger btn-sm" role="button">บาท</div>
            </div>
        </div>
    </div>
</div>
</div>

    <div class="row">
        <div class="col-md-12" >

            <div class="col-md-3 column productbox" >
                <img src="/assets/images/44.jpg" class="img-responsive">
                <div class="producttitle"><B>ปูพร้อมกิน</B>&nbsp;&nbsp;</div>
                <div class="productprice">

                    <div class="pull-right">
                        <font face="" size="" color="#32cd32"> 80฿</font>
                        <div class="btn btn-danger btn-sm" role="button">บาท</div>
                    </div>
                </div>

            </div>

            <div class="col-md-3 column productbox"  >
                <img src="/assets/images/66.jpg" class="img-responsive">

                <div class="producttitle"><B>หอยแครง</B>&nbsp;&nbsp;</div>
                <div class="productprice">
                    <div class="pull-right">
                        <font face="" size="" color="#32cd32">150฿</font>
                        <div class="btn btn-danger btn-sm" role="button">บาท</div>
                    </div>
                </div>
            </div>


            <div class="col-md-3 column productbox"   >
                <img src="/assets/images/hh.jpg" class="img-responsive">

                <div class="producttitle"><B>รวมชุดใหญ่ แบบจัดเต็ม</B>&nbsp;&nbsp;</div>
                <div class="productprice" >

                    <div class="pull-right">
                        <font face="" size="" color="#32cd32"> 750฿</font>
                        <div class="btn btn-danger btn-sm" role="button">บาท</div>
                    </div>
                </div>
            </div>
        </div>
    </div><br><br>

</div>

</body>
</html>