@(f1:foot,f2:foot)
<br><br><br>
<h1>ตัวอย่างการแสดงสินค้า</h1>

<div class="row">
    <div class="col-md-2"> </div>

    <div class="col-md-8">

        <br>
        <div class="panel panel-primary">
                <div class="panel-heading">ห้อง @f1.getName()</div>
                <div class="panel-body">
                    รหัสสินค้า : @f1.getId() <br>
                    ชื่อชื่อสินค้า : @f1.getName() <br>
           ราคา : @f1.getprice() <br>

        </div>
    </div>

        <div class="panel panel-primary">
            <div class="panel-heading">ห้อง @f2.getName()</div>
            <div class="panel-body">
                รหัสสินค้า : @f2.getId() <br>
                ชื่อสินค้า : @f2.getName() <br>
                ราคา : @f2.getprice() <br>
        <br><br>
            </div>
        </div>
    </div>

</div>